/*!*****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@6.7.1_webpack@5.94.0/node_modules/css-loader/dist/cjs.js!./node_modules/.pnpm/sass-loader@12.6.0_sass@1.62.1_webpack@5.94.0/node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*****************************************************************************************************************************************************************************************************************************/
.plugin-sample__custom-tab {
  background-color: var(--b3-theme-background);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plugin-sample__custom-dock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plugin-sample__time {
  background: var(--b3-card-info-background);
  border-radius: 4px;
  padding: 2px 8px;
}
