:root {
  /* 主色 */
  --b3-theme-primary: #4285f4;
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);
  --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #282c34;
  --b3-theme-surface: #21252b;
  --b3-theme-error: #d23f31;

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #c9d1d9;
  --b3-theme-on-surface: #9aa0a6;
  --b3-theme-on-error: #fff;

  /* 字体 */
  --b3-font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans",
    "Hiragino Sans GB", "Microsoft Yahei", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-code: "Fira Code", mononoki, Consolas, "Liberation Mono",
    Menlo, Courier, monospace, "Apple Color Emoji", "Segoe UI Emoji",
    "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";

  /* 线条 */
  --b3-border-color: rgb(40, 44, 52);

  /* 滚动条 */
  --b3-scroll-color: rgb(65, 71, 84);

  /* 列表 */
  --b3-list-hover: rgba(230, 230, 230, 0.05);

  /* 页签 */
  --b3-tab-background: #21252b;
  --b3-tab-background-hover: #323842;

  /* 提示 */
  --b3-tooltips-color: rgba(70, 72, 76, 0.86);

  /* 卡片背景 */
  --b3-card-error-color: rgb(250, 179, 174);
  --b3-card-error-background: rgb(24, 6, 5);
  --b3-card-warning-color: rgb(255, 213, 153);
  --b3-card-warning-background: rgb(25, 15, 0);
  --b3-card-info-color: rgb(166, 213, 250);
  --b3-card-info-background: rgb(3, 14, 24);
  --b3-card-success-color: rgb(183, 223, 185);
  --b3-card-success-background: rgb(7, 17, 7);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* 阴影 */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.4);
  --b3-toolbar-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

  /* diff */
  --b3-diff-add: #133a1c;
  --b3-diff-add-surface: #28853e;
  --b3-diff-del: #440c10;
  --b3-diff-del-surface: #b1202d;

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #9876aa;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #e8eaed;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #9aa0a6;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* 编辑器工具栏高度 */
  --b3-vditor-toolbar-height: 29px;
  --b3-vditor-toolbar-height-space: 6px;

  /* 编辑器搜索颜色 */
  --b3-vditor-search-background: #32593c;
  --b3-vditor-search-border-color: #486a51;
  --b3-vditor-search-current-background: #204282;

  /* 代码片段背景 */
  --b3-vditor-code-background: rgb(29, 31, 35);

  /* 即时渲染标记符颜色 */
  --b3-vditor-mark-heading-color: #9876aa;
  --b3-vditor-mark-title-color: #808080;
  --b3-vditor-mark-em-color: #cc7832;
  --b3-vditor-mark-strong-color: #cc7832;
  --b3-vditor-mark-backslash-color: #cc7832;
  --b3-vditor-mark-s-color: #9aa0a6;
  --b3-vditor-mark-mark-color: #9aa0a6;
  --b3-vditor-mark-link-color: #ffc66d;
  --b3-vditor-mark-bracket-color: #287bde;
  --b3-vditor-mark-paren-color: #6a8759;
  --b3-vditor-mark-block-color: #9876aa;
  --b3-vditor-mark-tag-color: #cc7832;

  /* 即时渲染行内元素颜色 */
  --b3-vditor-inline-strong-color: #e8eaed;
  --b3-vditor-inline-em-color: #e8eaed;
  --b3-vditor-inline-s-color: #e8eaed;
  --b3-vditor-inline-link-color:  #9876aa;
  --b3-vditor-inline-mark-background: #32593c;
  --b3-vditor-inline-mark-color: #e8eaed;
  --b3-vditor-inline-tag-color: #9aa0a6;
  --b3-vditor-inline-blockref-color: #61AFEF;
}

.language-graphviz polygon {
  fill: var(--b3-theme-on-surface);
}

.block__icons{
  background-color: var(--b3-theme-surface) !important;
} 

/* 富文本工具栏 */
.vditor-toolbar{
  background-color: var(--b3-theme-background) !important;
  box-shadow: var(--b3-toolbar-shadow);
}

/* 页签选中时的背景颜色 */
.item--focus {
  background-color: var(--b3-theme-background) !important;
}

/* 块引用内部锚文本颜色改变 */
.vditor-ir__marker--info{
  color: var(--b3-vditor-inline-blockref-color) !important;
}

/* 公式字号调整 */
.MathJax svg {
  font-size: 0.9em !important;
}


/* 大纲样式 */
.vditor ul li {
  list-style-type: disc;
}

.vditor ul ol,
.vditor ol ol,
.vditor ul ul,
.vditor ol ul {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: -0.9em !important;
  padding-left: 2.9em !important;/* 父子结点之间的距离 */
}

/* 代码主题Atom One Dark下的样式调整 */
/* 代码块中注释去除斜体样式 */
.hljs-comment {
  font-style: normal !important;
}

/* 代码块 */
code {
  line-height: 26px;
  background-color: var(--b3-vditor-code-background) !important;
}
