name: PR Check

# REF https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request_target
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
    paths:
      - icons.json
      - plugins.json
      - templates.json
      - themes.json
      - widgets.json

jobs:
  check:
    if: ${{ github.repository_owner == 'siyuan-note' }}
    runs-on: ubuntu-latest
    env:
      PAT: ${{ secrets.PAT }}
      PR_REPO_PATH: ./pr-repo
      FILE_PATH_CHECK_RESULT_OUTPUT: ./templates/check-result.md
    steps:
      - name: Check out current repo
        uses: actions/checkout@v3

      # REF https://github.com/marketplace/actions/checkout#checkout-multiple-repos-nested
      # REF https://github.com/marketplace/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
      - name: Check out PR repo
        uses: actions/checkout@v3
        with:
          path: ${{ env.PR_REPO_PATH }}
          ref: ${{ github.event.pull_request.head.sha }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          token: ${{ env.PAT }}

      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: '1.22'

      - name: Go Check
        run: go run ./actions/check

      # REF https://github.com/marketplace/actions/comment-pull-request
      - name: Comment PR with check-result
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: ${{ env.FILE_PATH_CHECK_RESULT_OUTPUT }}
          comment_tag: check-result
